@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
   background: linear-gradient(to bottom right, #f6f6f6, #fceabb);
   min-height: 150vh;
}

.bg-gradient-custom {
  background: linear-gradient(90deg, #fceabb, #f8b6e0);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #a145df !important;
}

.text-purple {
  color: #a145df;
}

.btn-purple {
  background-color: #d58cf7;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
}

.btn-purple:hover {
  background-color: transparent;
  box-shadow: 5px 5px 10px #d58cf7;
}

/* home */

.welcome-text {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 4px;
  color: #a145df;
}

.subtext {
  font-size: 20px;
  color: #a145df;
  letter-spacing: 4px;
  margin-top: -10px;
}

.monitor {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;
}

.monitor-img {
  max-width: 100%;
  height: auto;
  width: 545px; 
}

/* about */
.judul-about {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 4px;
  color: #a145df;
  text-align: center;
}.subjudul-about {
  font-size: 20px;
  color: #a145df;
  letter-spacing: 4px;
  margin-top: -10px;
  text-align: center;
}
.about-content {
  min-height: calc(100vh - 120px);
}

.about-text {
   padding-right: 110%;
   position: absolute;
   left: 550px; 
   bottom: -550px;
   text-align: left;
    color: #555;
    padding:20px;
    font-size: 1.5rem;
}


.about-image {
  max-height: 150%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 5px double #a145df;
  width: 510px;
  display: flex;
}

.img {
    right: 5%;
    margin: 30px;
    width: 450px; 
}